<div class="header-wrapper">

    <div class="header-content bg-warning">
        <div class="container">
            <div class="row align-items-center gx-4">
                <div class="col-auto">
                    <div class="d-flex align-items-center gap-3">
                        <div class="mobile-toggle-menu d-inline d-xl-none" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar">
                            <i class="bx bx-menu"></i>
                        </div>
                        <div class="logo">
                            <a href="index.html">
                                <img src="assets/images/logo-icon.png" class="logo-icon" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl order-4 order-xl-0">
                    <div class="input-group flex-nowrap pb-3 pb-xl-0">
                        <input type="text" class="form-control w-100 border-dark border border-3"
                            placeholder="Search for Products">
                        <button class="btn btn-dark btn-ecomm border-3" type="button">Search</button>
                    </div>
                </div>
                <div class="col-auto d-none d-xl-flex">
                    <div class="d-flex align-items-center gap-3">
                        <div class="fs-1 text-content"><i class='bx bx-headphone'></i></div>
                        <div class="">
                            <p class="mb-0 text-content">CALL US NOW</p>
                            <h5 class="mb-0">+011 5827918</h5>
                        </div>
                    </div>
                </div>
                <div class="col-auto ms-auto">
                    <div class="top-cart-icons">
                        <nav class="navbar navbar-expand">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a href="account-dashboard.html" class="nav-link cart-link"><i
                                            class='bx bx-user'></i></a>
                                </li>
                                <li class="nav-item"><a href="wishlist.html" class="nav-link cart-link"><i
                                            class='bx bx-heart'></i></a>
                                </li>
                                <li class="nav-item dropdown dropdown-large">
                                    <a href="#"
                                        class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative cart-link"
                                        data-bs-toggle="dropdown"> <span class="alert-count">8</span>
                                        <i class='bx bx-shopping-bag'></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a href="shop-cart.html">
                                            <div class="cart-header">
                                                <p class="cart-header-title mb-0">8 ITEMS</p>
                                                <p class="cart-header-clear ms-auto mb-0">VIEW CART</p>
                                            </div>
                                        </a>
                                        <div class="cart-list">
                                            <a class="dropdown-item" href="javascript:;">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-grow-1">
                                                        <h6 class="cart-product-title">Men White T-Shirt</h6>
                                                        <p class="cart-product-price">1 X $29.00</p>
                                                    </div>
                                                    <div class="position-relative">
                                                        <div class="cart-product-cancel position-absolute"><i
                                                                class='bx bx-x'></i>
                                                        </div>
                                                        <div class="cart-product">
                                                            <img src="assets/images/products/01.png" class=""
                                                                alt="product image">
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="dropdown-item" href="javascript:;">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-grow-1">
                                                        <h6 class="cart-product-title">Puma Sports Shoes</h6>
                                                        <p class="cart-product-price">1 X $29.00</p>
                                                    </div>
                                                    <div class="position-relative">
                                                        <div class="cart-product-cancel position-absolute"><i
                                                                class='bx bx-x'></i>
                                                        </div>
                                                        <div class="cart-product">
                                                            <img src="assets/images/products/05.png" class=""
                                                                alt="product image">
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="dropdown-item" href="javascript:;">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-grow-1">
                                                        <h6 class="cart-product-title">Women Red Sneakers</h6>
                                                        <p class="cart-product-price">1 X $29.00</p>
                                                    </div>
                                                    <div class="position-relative">
                                                        <div class="cart-product-cancel position-absolute"><i
                                                                class='bx bx-x'></i>
                                                        </div>
                                                        <div class="cart-product">
                                                            <img src="assets/images/products/17.png" class=""
                                                                alt="product image">
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="dropdown-item" href="javascript:;">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-grow-1">
                                                        <h6 class="cart-product-title">Black Headphone</h6>
                                                        <p class="cart-product-price">1 X $29.00</p>
                                                    </div>
                                                    <div class="position-relative">
                                                        <div class="cart-product-cancel position-absolute"><i
                                                                class='bx bx-x'></i>
                                                        </div>
                                                        <div class="cart-product">
                                                            <img src="assets/images/products/10.png" class=""
                                                                alt="product image">
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="dropdown-item" href="javascript:;">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-grow-1">
                                                        <h6 class="cart-product-title">Blue Girl Shoes</h6>
                                                        <p class="cart-product-price">1 X $29.00</p>
                                                    </div>
                                                    <div class="position-relative">
                                                        <div class="cart-product-cancel position-absolute"><i
                                                                class='bx bx-x'></i>
                                                        </div>
                                                        <div class="cart-product">
                                                            <img src="assets/images/products/08.png" class=""
                                                                alt="product image">
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="dropdown-item" href="javascript:;">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-grow-1">
                                                        <h6 class="cart-product-title">Men Leather Belt</h6>
                                                        <p class="cart-product-price">1 X $29.00</p>
                                                    </div>
                                                    <div class="position-relative">
                                                        <div class="cart-product-cancel position-absolute"><i
                                                                class='bx bx-x'></i>
                                                        </div>
                                                        <div class="cart-product">
                                                            <img src="assets/images/products/18.png" class=""
                                                                alt="product image">
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="dropdown-item" href="javascript:;">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-grow-1">
                                                        <h6 class="cart-product-title">Men Yellow T-Shirt</h6>
                                                        <p class="cart-product-price">1 X $29.00</p>
                                                    </div>
                                                    <div class="position-relative">
                                                        <div class="cart-product-cancel position-absolute"><i
                                                                class='bx bx-x'></i>
                                                        </div>
                                                        <div class="cart-product">
                                                            <img src="assets/images/products/04.png" class=""
                                                                alt="product image">
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a class="dropdown-item" href="javascript:;">
                                                <div class="d-flex align-items-center">
                                                    <div class="flex-grow-1">
                                                        <h6 class="cart-product-title">Pool Charir</h6>
                                                        <p class="cart-product-price">1 X $29.00</p>
                                                    </div>
                                                    <div class="position-relative">
                                                        <div class="cart-product-cancel position-absolute"><i
                                                                class='bx bx-x'></i>
                                                        </div>
                                                        <div class="cart-product">
                                                            <img src="assets/images/products/16.png" class=""
                                                                alt="product image">
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <a href="javascript:;">
                                            <div class="text-center cart-footer d-flex align-items-center">
                                                <h5 class="mb-0">TOTAL</h5>
                                                <h5 class="mb-0 ms-auto">$189.00</h5>
                                            </div>
                                        </a>
                                        <div class="d-grid p-3 border-top"> <a href="javascript:;"
                                                class="btn btn-dark btn-ecomm">CHECKOUT</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!--end row-->
        </div>
    </div>
    <div class="primary-menu">
        <nav class="navbar navbar-expand-xl w-100 navbar-dark container mb-0 p-0">
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">
                <div class="offcanvas-header">
                    <div class="offcanvas-logo"><img src="assets/images/logo-icon.png" width="100" alt="">
                    </div>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body primary-menu">
                    <ul class="navbar-nav justify-content-start flex-grow-1 gap-1">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="tv-shows.html"
                                data-bs-toggle="dropdown">
                                Categories
                            </a>
                            <div class="dropdown-menu dropdown-large-menu">
                                <div class="row">
                                    <div class="col-12 col-xl-4">
                                        <ul class="list-unstyled">
                                            <li><a href="shop-grid-left-sidebar.html">Head</a>
                                            </li>
                                            <li><a href="shop-grid-left-sidebar.html">neck</a>
                                            </li>
                                            <li><a href="shop-grid-left-sidebar.html">chest</a>
                                            </li>
                                            <li><a href="shop-grid-left-sidebar.html">hand</a>
                                            </li>
                                            <li><a href="shop-grid-left-sidebar.html">back</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-12 col-xl-4 d-none d-xl-block">
                                        <div class="pramotion-banner1">
                                            <img src="assets/images/gallery/menu-img.jpg" class="img-fluid" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-4 d-none d-xl-block">
                                        <div class="pramotion-banner1">
                                            <img src="assets/images/gallery/menu-img.jpg" class="img-fluid" alt="" />
                                        </div>
                                    </div>
                                    <!-- end col-3 -->
                                </div>
                                <!-- end row -->
                            </div>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="about-us.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact-us.html">Contact</a>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="blog-post.html">
                                Blog
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>